<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.5.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.5.1" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.3856.49" targetFramework="net472" />
  <package id="OpenXmlPowerTools" version="4.5.3.2" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
</packages>